*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  background-color: #131313;
  color: #fff;
}

#root {
  width: 100%;
  height: auto;
}

.App {
  width: 100%;
  height: auto;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
}

.header {
  width: 100%;
  text-align: center;
  background-color: #0885EC;
  padding: 5px;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar ul li {
  width: 25%;
  display: flex;
  justify-content: center;

}



.active {
  background-color: #167909 !important;
}

.navbar ul li button {
  width: 100%;
  height: 60px;
  border: 0px;;
  background-color: #0885EC;
  color: #fff;
  font-size: 17px;
  border: solid 1px #000;
}

.navbar ul li button:hover {
  box-shadow: 0px 8px 14px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 8px 14px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 14px 3px rgba(0,0,0,0.75);
}


.feedList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  justify-content: space-around;
  margin: 80px 0px;
  z-index: 10;
}

.error {
  width: 80% ;
  margin: auto;
  height: 400px;
  font-size: 1rem;
  color: #fff;
  font-family: fantasy;
  display: flex;
  align-items: center;
  text-align: center;
}

.meme {
  min-width: 300px;
  width: 20%;
  height: auto;
  margin: 30px 10px;
  display: flex;
  align-items: center;
}

.feedList img {
  object-fit: fill;
  min-width: 300px;
  width: 65%;
  height: auto;
}

.nextBtn {
   position: fixed;
   bottom: 0;
   right: 0;
   margin: 20px 25px;
   background-color: transparent;
   border: 0px;
   
}

.loader{
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
  z-index: 10;
}

.loader div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border-top: 3px solid #0885EC; 
  animation: loaderAnime 1s linear infinite;
}

 @keyframes loaderAnime {
   0% {transform: rotate(0deg);}
   50% {transform: rotate(180deg);}
   100% {transform: rotate(360deg);}
 }